*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    padding: 20px;
    background-image: url(images/backgroud-temp.jpg);
    background-size: cover;
}
.navbar {
    
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar a, a:hover, a:focus, a:active, li {
    text-decoration: none;
    color: inherit;
    list-style: none;
}