*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    height: 100%; 
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    color: #212121;
    line-height: 1.6;
    overflow-y: scroll;
    background-color: #C8E6C9;
    background-size: cover;
    margin-bottom: 0;
    font-size: 15px;
   height: 100%;
    scroll-behavior: smooth;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
.navbar {
    
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 100px;
    right: 100px;
    position: relative;
    font-weight: bold;
    color: black;
    
}

.navbar li{
    padding: 3px;
    margin: 5px;
    background-color: #4CAF50;
    border-radius: 8px;
    transition: all 0.3s ease;
    border: 2px solid transparent;
    border-style: solid;
    border-color: #4CAF50;
    
}
.navbar li:hover {
    background-color: #388E3C;
    border-color: rgba(255, 255, 255, 0.2);
    border-style: solid;
    border-radius: 8px;
    padding: 8px;
    margin: 0px;
    transition: background-color 0.3s ease;
    transition: all 0.3s ease;
}

.navbar-container {
    background-color: #006400;
    padding: 35px;
    height: 100px;
    position: relative;

}
.navbar-container img {
    position: absolute;
    top: 10px;
    left: 100px;
    height: 80px;
    width: auto;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
}
.navbar a, a:hover, a:focus, a:active, li {
    text-decoration: none;
    color: inherit;
    list-style: none;
}
.aboutuslist ul{
    list-style: none;
}




main {
    width: 100%;
    max-width: 1000px;
    margin: 40px auto; 
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 10px;
    flex-grow: 1;
    
}
.index{
    width: 1300px;
    max-width: none;
    margin: 10px auto; 
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 10px;
    
    text-align: center;
}

.index img{
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.about-us h1 {
    color: #000000; 
    text-align: center;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 2px solid #000000;
}

.about-us h2 {
    color: #011429;
    margin-top: 30px;
    margin-bottom: 15px;
}

.about-us p {
    margin-bottom: 15px;
    text-align: justify;
}

.about-us li {
    list-style: disc;
    margin-left: 40px;
    margin-bottom: 20px;
}

.about-us strong {
    color: #333;
    font-weight: bold;
}
.about-us h3 {

    color: #004d40;
    border-bottom: 2px solid #004d40;
    padding-bottom: 5px;
    margin-top: 25px;
    margin-bottom: 15px;
    font-size: 1.3em;
}

.indicators-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 0.95em;
    text-align: left;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.indicators-table th, .indicators-table td {
    padding: 12px 15px;
    border: 1px solid #ddd;
}

.indicators-table th {
    background-color: #e0f2f1; 
    font-weight: bold;
    text-transform: uppercase;
}

.indicators-table tr:nth-child(even) {
    background-color: #f9f9f9; 
}

.indicators-table tr:hover {
    background-color: #f0f0f0;
}

.patron-info {
    margin-top: 20px;
    padding: 15px;
    border-left: 5px solid #009688; 
    background-color: #f4fffd;
}

.patron-info strong {
    color: #00796b;
    font-size: 1.1em;
}

.patron-info ul {
    list-style-type: none;
    padding-left: 0;
    margin-top: 10px;
}

.patron-info ul li {
    background-size: 8px;
    padding-left: 15px;
    margin-bottom: 5px;
    line-height: 1.5;
}

.patron-info p {
    margin-bottom: 10px;
}

footer {
    text-align: center;
    padding: 15px 0;
   
    background-color: rgb(0, 0, 0);
    color: #fff;
    width: 100%;
    box-sizing: border-box;  
}

.reform h1{
    color: #000000;
    text-align: center;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 2px solid #000000;
}
.reform h2{
    color: #000000;
    margin-top: 20px;
    margin-bottom: 15px;
    border-bottom: 2px solid #000000;
}
.container img{
    max-width: 80%;
    display: block;
    margin: 0 auto;
}
.reform ul li{
    list-style: disc;
    margin-left: 30px;
    margin-bottom: 10px;
}
.container2 img{
    max-width: 80%;
    display: block;
    margin: 0 auto;
}

.reform p{
    margin-bottom: 15px;
    text-align: justify;
}
.reform li{
    list-style: disc;
    margin-left: 40px;
    margin-bottom: 20px;
    background-color: #f4fffd;
    
}
.reform img{
     width: 100%;
    height: auto;
    border-radius: 10px;
    
}
.school-features{
    margin-top: 20px;
    padding: 15px;
    border-left: 5px solid #009688; 
    background-color: #f4fffd;
}


.projetos-escola {
    width: 100%;
    max-width: 900px; 
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.titulo-aba {
    font-size: 2em;
    margin-bottom: 40px;
    text-align: left;
    color: #333;
}



.legenda {
    font-weight: bold;
    font-size: 1em;
    color: #333;
    margin: 0;
}

.instagram-rodape {
    display: flex;
    justify-content: flex-end; 
    gap: 20px;
    margin-top: 50px;
}

.icone-link {
    text-decoration: none;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.8em;
}

.icone {
    width: 35px; 
    height: 35px;
    border-radius: 8px; 
    margin-bottom: 5px;
}





main {
   font-family:Arial, Helvetica, sans-serif;
   line-height: 1.6;
}
main h1{
    color: #0056b3;
    border-bottom: #f4f4f4;
}
body class
