*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    padding: 20px;
    background-image: url(images/backgroud-temp.jpg);
    background-size: cover;
    margin-bottom: 60px; 
}
.navbar {
    
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar a, a:hover, a:focus, a:active, li {
    text-decoration: none;
    color: inherit;
    list-style: none;
}





main {
    width: 90%;
    max-width: 1000px;
    margin: 40px auto; 
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 10px;
}

.about-us h1 {
    color: #0056b3; 
    text-align: center;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 2px solid #0056b3;
}

.about-us h2 {
    color: #007bff;
    margin-top: 30px;
    margin-bottom: 15px;
}

.about-us p {
    margin-bottom: 15px;
    text-align: justify;
}

.about-us li {
    list-style: disc;
    margin-left: 40px;
    margin-bottom: 20px;
}

.about-us strong {
    color: #333;
    font-weight: bold;
}
footer {
    text-align: center;
    padding: 15px 0;
    bottom: 0; 
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    width: 100%;
    box-sizing: border-box; 
    z-index: 10; 
}
footer p {
    margin: 0;
    font-size: 14px

}





main {
   font-family:Arial, Helvetica, sans-serif;
   line-height: 1.6;
}
main h1{
    color: #0056b3;
    border-bottom: #f4f4f4;
}

